{\rtf1\ansi\ansicpg1252\cocoartf2821
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red39\green46\blue51;\red246\green246\blue246;}
{\*\expandedcolortbl;;\cssrgb\c20000\c23922\c25882;\cssrgb\c97255\c97255\c97255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs25\fsmilli12600 \cf2 \cb3 \expnd0\expndtw0\kerning0
MathJax \{ font-size: 1.3em; \}}