@use "./base.scss";

// put your custom CSS here!
.page-title {
  background: linear-gradient(to right, #00bfff, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

// Ensure dark mode background is applied
:root[saved-theme="dark"] {
  --light: #050505;
  --lightgray: #202020;
  --gray: #888888;
  --darkgray: #e0e0e0;
  --dark: #ffffff;
  --secondary: #00bfff;
  --tertiary: #8a2be2;
  --highlight: rgba(0, 191, 255, 0.15);
}
